section.falling-star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

@keyframes animateBg{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

/* <stop offset="0.15" stop-color="#320080" stop-opacity="0" />
              <stop offset="0.745" stop-color="#8670FF" /> */
.falling-star span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: rgba(134, 112, 255, 1);
    border-radius: 50%;
    box-shadow:
        0 0 0 4px rgba(134, 112, 255,0.1),0 0 0 8px rgba(134, 112, 255,0.1),0 0 20px rgba(134, 112, 255,0.1);
    animation: animate 7s linear infinite;
}
.falling-star span::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(90deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(90deg) translateX(-1000px);
        opacity: 0;
    }
}
.falling-star span:nth-child(1){
    top: 900px;
    right: 40px;
    left: initial;
    animation-delay: 0s;
    animation-duration: 3s;
}
.falling-star span:nth-child(2){
    top: 900px;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 5s;
}
.falling-star span:nth-child(3){
    top: 800px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 4s;
}
.falling-star span:nth-child(4){
    top: 900px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 2s;
}
.falling-star span:nth-child(5){
    top: 500px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 3s;
}
.falling-star span:nth-child(6){
    top: 0;
    right: initial;
    left: 100px;
    animation-delay: 1s;
    animation-duration: 3s;
}
.falling-star span:nth-child(7){
    top: 300px;
    right: initial;
    left: 20px;
    animation-delay: 1.2s;
    animation-duration: 3s;
}
.falling-star span:nth-child(8){
    top: 900px;
    right: initial;
    left: 300px;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
.falling-star span:nth-child(9){
    top: 1000px;
    left: 120px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 4.25s;
}
.falling-star span:nth-child(9){
    top: 900px;
    right: initial;
    left: 450px;
    animation-delay: 2.75s;
    animation-duration: 2.75s;
}